<br/>

<div id="divMainContent">

<div class="seating"><h1>Seating Chart</h1>

<table>
<tbody>
<tr>
    <th colspan="8">
    <div class="ProfSeat">
    <p class="SeatTakenHeading">Professor </p>
    <a title="Seat Reserved for Professor" href="#"><p class="SeatDetail"><strong>Prof. Avery</strong> </p></a> </div>
    </th>
</tr>
<tr>
    <% @seats.each do |seat| %>
       <% if @counter > 7  %>
         <% @counter=0 %>
</tr>
<tr>
	  <% end %>
	<td>
    <% if seat.user  %>
      <div class="SeatTaken">
	    	<p class="SeatTakenHeading">     
    <% if (Message.where("created_at > ? AND (user_id_to = ? OR user_id_from = ?)", session[:start_time], seat.user.id, seat.user.id).count != 0) %>
			<span style="float:left"><a title="Active on Chat Box" href=""> <img src="images/chat.png" alt="Active on Chat Box" width="16px" height="16px" /></a></span>
    <% end %>
    <%= seat.id%></p>
	    	<a title="Seat Taken By: <%= seat.user.fname %> <%= seat.user.lname %>" href="#"><p class="SeatDetail"><strong><%= seat.user.fname %></strong> </p></a>
	    	<a title="Chat with <%= seat.user.fname %>" target="_blank" href="/messages/private/<%=session[:user_id]%>/<%=seat.user.id%>"><p class="SeatDetail">Chat</p></a> </div>
           <% else %>
		<div class="SeatOpen">
		<p class="SeatOpenHeading"><%= seat.id%></p>
		<p class="SeatDetail"><a title="Occupy Seat:<%= seat.id%>" href="#">
			<%= button_to "Sit",die_path(seat.id, :format => :js), :remote => true, :id => seat.id %> 
		</p></a>
		</div>
	    <% end %> 
	</td>
	<% if @counter == 3  %>
	  <td width="25px">  </td>
	<% end %>

    <% @counter+=1 %>
    <% end %>
</tbody>
</table> <br/><br/>
</div>

<div class="chat"><h1>Classroom Chat Box</h1>
  <%= text_area_tag(:g_message_output, @gconversation, :size=>"30x10", :readonly=>"readonly") %>
  <br/>
  <%= text_area_tag(:g_message, "", :size=>"30*10" ) %>
  <%= button_to "Send", session[:user_id]? createglobalmessage_path(session[:user_id], :format => :js):     poopoo_path( nil, :format => :js) , :remote => true %>    <!-- :Send was passed into different form helper( must te type -->
</div>
</div>
<div style="clear:both"><br/></div>
