<br/>

<div id="divMainContent">

<div class="seating"><h1>Seating Chart</h1>

<table>
<tbody>
<tr>
    <th colspan="8">
    </th>
    <div class="ProfSeat">
    <p class="SeatTakenHeading">Professor </p>
    <a title="Seat Reserved for Professor" href="#"><p class="SeatDetail"><strong>Prof. Avery</strong> </p></a> 
  </div>
</tr>

<!-- Render all seats with seats partial -->
<%= render(:partial => "seat", :locals => {:seats=> @seats, :counter => @counter } ) %>

</tbody>
</table> <br/><br/>
</div>

<div class="chat"><h1>Classroom Chat Box</h1>

<% if @lastMessageID == nil %>
<%   @lastMessageID = 1 %>
<% end %>

<%= link_to "Test Remote action", getglobalmessages_path(:lastMessage=>@lastMessageID, :format=>:js),  :remote => true, :id => 'testLink', :style=> 'display: none;'  %> 


<%= form_tag( createglobalmessage_path( :from=>session[:user_id]) ,  :remote => true, :id => "submitForm"  ) do %>
  <%= text_area_tag(:g_message_output, @gconversation, :size=>"30x10", :readonly=>"readonly") %>
  <br/>
  <%= text_area_tag(:g_message, "", :size=>"30*10" ) %>
  <%= submit_tag(:Send, :id => 'Submit') %>
<% end %>




</div>
</div>
<div style="clear:both"><br/></div>
