<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@user.errors.count, "error") %>
prohibited this user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :First_name %><br />
    <%= f.text_field :fname %>
  </div>
  <div class="field">
    <%= f.label :Last_name %><br />
    <%= f.text_field :lname %>
  </div>
  <div class="field">
    <%= f.label :Username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :Password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :Password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
	<%= f.submit %>  </div>
<% end %>
