<!DOCTYPE html>
<html>
<head>
  <title>CS-408 Class Seating Chart</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery-1.4.2.min', 'rails', 'application' %>
  <%= csrf_meta_tag %>


<script type="text/javascript">
// Script based on: http://www.w3schools.com/js/tryit.asp?filename=tryjs_timing_stop
  //  onclick="StartTimer()"  // start the event (only triggered from explicit call)
  //  onclick="StopTimer()" // stop the timer

var t;
var timer_is_on=0;
var c=0;

//separate function for document.ready
$(document).ready(function() {
   StartTimer();
});


function timedCount()
{
 //  $('#g_message_output').val(c);
 // c=c+1;
 //causes postback but it works: document.forms["submitForm"].submit();
 
 $('#testLink').click();
  t=setTimeout("timedCount()",2000);  //wait to call again
}



function StartTimer()
{
//  alert("Timer is starting!");
  if (!timer_is_on)
  {
    timer_is_on=1;
    timedCount();
  }
}

function sStopTimer()
{
  clearTimeout(t);
  timer_is_on=0;
}
</script>
</head>



<body>
  <div id="header">
    <h1><%= link_to "Welcome to CS-408!", '/enter' %></h1>
    <div id="user_bar">
      <% if logged_in? %>
        <%= link_to "Edit User", edit_user_path(current_user) %> |
        <%= link_to "Logout", logout_path %>
      <% else %>
        <%= link_to "New User", new_user_path %>
        <%= link_to "Login", login_path %>
      <% end %>
    </div>
  </div>
  <div id="main">					  
    <%= content_tag(:p, notice, :class => 'notice') if notice.present? %>
    <%= content_tag(:p, alert, :class => 'alert') if alert.present? %>
    <%= yield %>
  </div>
  <div id="footer">
    An interactive class seating chart.<br/>
    Developed by <span>Azeem Hirani, Bryan Cabalo, Madhura Pitale, Ronald Lopez</span> and <span>Tuyet Le</span>, Califronia State University, Fullerton.
  </div>
</body>
</html>
