<!DOCTYPE html>
<html>
<head>
  <title>CS-408 Class Seating Chart</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery-1.4.4.min', 'rails', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header">
    <h1><%= link_to "Welcome to CS-408!", '/enter' %></h1>
    <div id="user_bar">
      <% if logged_in? %>
        <%= link_to "Edit User", edit_user_path(current_user) %> |
        <%= link_to "Logout", logout_path %>
      <% else %>
        <%= link_to "New User", new_user_path %>
        <%= link_to "Login", login_path %>
      <% end %>
    </div>
  </div>
  <div id="main">					  
    <%= content_tag(:p, notice, :class => 'notice') if notice.present? %>
    <%= content_tag(:p, alert, :class => 'alert') if alert.present? %>
    <%= yield %>
  </div>
  <div id="footer">
    An interactive class seating chart.<br/>
    Developed by <span>Azeem Hirani, Bryan Cabalo, Madhura Pitale, Ronald Lopez</span> and <span>Tuyet T. Le</span>, Califronia State University, Fullerton.
  </div>
</body>
</html>
